.text_tooltip {
    line-height: 20px;
}

/********************************************************************************/
/* generalidades
/********************************************************************************/

.timeline,
.formacion {
    text-align: center;
    width: 100%;
}

.formacion img {
    max-width: 90%;
}

.tabla {
    text-align: center;
}

.datatable {
    max-width: 90%;
    margin: 0 auto;
    overflow: auto;
}

.tabla1 .datatable td:first-child {
    background-color: #003543;
    color: #fff;
    border-color: #fff;
}

.jpit-activities-quiz {
    width: 80%;
    margin: 0 auto;
}


/********************************************************************************/
/* Actividad - enfoques
/********************************************************************************/

.jpit-activities-selection {
    position: relative;
}

.jpit-activities-selection.actividad1 .ctrl-pagination {
    max-width: 700px;
    margin: auto;
}

.ctrl-pagination ul.layers {
    margin-top: 40px;

}
.ctrl-pagination .label_current {
    top: 0;
    left: 20px;
    border-radius: 0;
    background-color: #4397CE;
}
.ctrl-pagination p {
    margin-right: 0;
}
.jpit-activities-selection .option-group {
    position: absolute;
    top: 0;
    right: 0;
    border: solid 1px #4276A7;
    border-radius: 5px;
    display: flex;
    border-right: none;
}
.jpit-activities-selection .ctrl-pagination .option-group [data-group] {
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: #4397CE;
    color: #FFFFFF;
    border-radius: 0;
    border:none;
    border-left: solid 1px #FFFFFF;
}
.jpit-activities-selection .ctrl-pagination .option-group [data-group]:first-child {
    border-left: none;
}

.jpit-activities-selection .ctrl-pagination .option-group [data-group]:hover,
.jpit-activities-selection .ctrl-pagination .option-group [data-group].selected {
        background-color: #003543;
    color: #FFFFFF;
}
.jpit-activities-selection.actividad1 .box_end .correct {
    max-width: inherit;
    text-align: justify;
}
.jpit-activities-selection.actividad1 .box_end .correct:after {
    background: none;
}
.estilos-aprendizaje-grafica {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    background-color: #FFFFFF;
    font-size: 13px;
    border: solid 1px #6BC3CE;
}
.estilos-aprendizaje-grafica .score_bar {
    margin: 0;
    padding: 2px;
    background-color: #6BC3CE;
    color: #000;
    text-align: center;
}

.estilos-aprendizaje-grafica td.score_bar_box {
    border: 1px solid #333;
    min-width: 100px;
}

.estilos-aprendizaje-resultado h3 {
    font-size: 16px;
}
.estilos-aprendizaje-resultado .box_media img {
    width: 300px;
    margin: 0 auto;
    display: block;
}

/********************************************************************************/
/* Evaluacion
/********************************************************************************/

#pag-evaluacion .imagenes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

#pag-evaluacion .imagenes img {
    width: 45%;
    margin: 5px;
}

#pag-evaluacion .imagenes p {
    width: 100%;
}

/********************************************************************************/
/* Manos a la obra
/********************************************************************************/

#pag-obra .clasificacion {
    position: relative;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}

#pag-obra .clasificacion .seccion {
    position: absolute;
    background: url(../content/sprite-01.png) top left no-repeat;
}

#pag-obra .clasificacion .escrita {
    width: 350px;
    height: 160px;
    background-position: -19px -16px;
}

#pag-obra .clasificacion .oral {
    width: 195px;
    height: 314px;
    background-position: -561px -22px;
    bottom: 0;
    left: 0;
}

#pag-obra .clasificacion .practica {
    width: 194px;
    height: 314px;
    background-position: -368px -22px;
    bottom: 0;
    right: 0;
}

#pag-obra .clasificacion .fondo {
    width: 321px;
    height: 320px;
    background-position: -800px -21px;
    top: 60px;
}

#pag-obra .clasificacion .centro {
    width: 161px;
    height: 166px;
    background-position: -1199px -20px;
    top: 134px;
}

#pag-obra .medios{
    width: 90%;
    margin: 0 auto;
    background-color: #f2f1f0;
    border-radius: 15px;
    border: 2px solid #9bc2e2;
    padding-top: 10px;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(215,218,224,0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(215,218,224,0.5);
    box-shadow: 10px 10px 5px 0px rgba(215,218,224,0.5);
}

#pag-obra .medios .nombre_seccion {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

#pag-obra .medios .nombre_seccion.escrita {
    background-color: #0056b4;
}

#pag-obra .medios .nombre_seccion.oral {
    background-color: #00a7e7;
}

#pag-obra .medios .nombre_seccion.practica {
    background-color: #fe8804;
}

#pag-obra .medios .datatable {
    max-width: 100%;
    border: 0;
}

#pag-obra .medios .datatable td {
    border: 0;
    border-top: 1px solid #fff;
}

#pag-obra .medios .tabla {
    max-height: 450px;
    overflow: auto;
}

#pag-obra .nota {
    text-align: center;
}