/********************************************************************************/


/* formato de imágenes
/********************************************************************************/


/***********Alinear imagenes****************/

.box_media {
    text-align: center;
}


/***********Nota al pie de imagen****************/

.nota_pie {
    font-size: 12px;
    text-align: center;
}


/********************************************************************************/


/* Ejercicio 1. Linea de tiempo
/********************************************************************************/

.text_tooltip p {
    min-width: 200px;
    margin: 0;
    padding: 0;
}

.jpit-activities-droppable .linea1 {
    border-bottom: 2px solid #70B1BC;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 800px;
}

.jpit-activities-droppable .contenedor {
    width: 220px;
    margin: 10px;
}

.jpit-activities-droppable .sombra {
    background-color: #F1F1F0;
    width: 220px;
    height: 156px;
    margin: 0 auto;
    border-radius: 12px;
}

.ano {
    width: 100px;
    height: 20px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    bottom: -10px;
    color: #fff;
    background-color: #73C8D1;
}

.der .ano:after {
    border: 10px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    content: "";
    border-left-color: #73C8D1;
}

.izq .ano:after {
    border: 10px solid transparent;
    position: absolute;
    left: -20px;
    content: "";
    border-right-color: #73C8D1;
}


.jpit-activities-droppable {
    position: relative;
}

.jpit-activities-droppable .cajon {
    border: 1px dashed #0089A9;
    border-radius: 12px;
    width: 218px;
    height: 153px;
}

.jpit-activities-droppable .linea1 {
    border-bottom: 2px solid #70B1BC;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 800px;
    padding-top: 40px;
}

.jpit-activities-droppable .linea2 {
    border-bottom: 2px solid #70B1BC;
    border-right: 2px solid #70B1BC;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    max-width: 800px;
    padding-top: 40px;
}

.jpit-activities-droppable .introductorio {
    border-left: 2px solid #70B1BC;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px 0;
}

.jpit-activities-droppable .introductorio1 {
    border-left: 2px solid #70B1BC;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px 0;
}

.jpit-activities-droppable .introductorio1 p,
.jpit-activities-droppable .introductorio1 h3,
.jpit-activities-droppable .introductorio p,
.jpit-activities-droppable .introductorio h3 {
    padding: 0 20px;
}

.jpit-activities-droppable .linea1 {
    border-bottom: 2px solid #70B1BC;
    border-left: 2px solid #70B1BC;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 800px;
    padding-top: 40px;
}

.jpit-activities-droppable .introductorio2 {
    border-right: 2px solid #70B1BC;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px 0;
}

.jpit-activities-droppable .opciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

.jpit-activities-droppable.completed .opciones {
    margin-top: 0;
}

.jpit-activities-droppable .item {
    border: 1px solid #73C8D1;
    border-radius: 12px;
    width: 216px;
    height: 153px;
    margin: 0;
    display: flex;
    align-items: center;
    color: #000;
}

.jpit-activities-droppable .opciones .item {
    margin: 10px;
}

#act1.jpit-activities-droppable .item {
    background-color: #DFE9EF;
}

#act2.jpit-activities-droppable .item {
    background-color: #DCE0DF;
}

#act3.jpit-activities-droppable .item {
    background-color: #F7C490;
}

.jpit-activities-droppable .scroll {
    display: block;
    overflow: auto;
    width: 145px;
}

.w-content {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.w-content .imagen img {
    display: block;
    margin: auto;
}

.w-content .imagen {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}

.w-content .completo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 10px;
}

.completo .ano {
    margin-left: 0;
    left: 0;
}

.completo .ano:after {
    border: 10px solid transparent;
    position: absolute;
    left: 100px;
    content: "";
    border-left-color: #73C8D1;
}

.jpit-activities-droppable .box_end {
    position: absolute;
    bottom: 180px;
    left: calc(50% - 250px);
}

.jpit-activities-droppable .box_end .icon_more {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    transform: rotate(45deg);
}

.jpit-activities-droppable .draggable, 
.jpit-activities-droppable .droppable {
    padding: 0;
}


/********************************************************************************/


/* ejercicio 3 - La metacognición
/********************************************************************************/

#act3 .bloque1 {
    width: 800px;
    height: 780px;
    margin: auto;
    position: relative;
}

#act3 .contenedor {
    position: absolute;
    border: 2px solid #f3f3f3;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
    background-color: #f3f3f3;
    width: 420px;
    text-align: center;
}

#act3 .cajon {
    border: 1px dashed #0089A9;
    border-radius: 15px;
    width: 220px;
    height: 140px;
    margin: 5px auto;
    background-color: #dcdcdd;
}

#act3 .item {
    border-radius: 15px;
    width: 220px;
    height: 140px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: #f5e7ae;
    border: 2px solid #d79f21;
}

#act3 .ctrl-pagination {
    background-color: transparent;
    border: none;
    width: 500px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

#act3 .opciones1 {
    position: absolute;
    left: 0;
    top: 20px;
    width: 280px;
}

#act3 .opciones1 .item {
    position: absolute;
    text-align: center;
    padding: 5px;
}

#act3 .opciones1 .item1 {
    top: 0;
}

#act3 .opciones1 .item2 {
    top: 160px;
}

#act3 .opciones1 .item3 {
    top: 320px;
}

#act3 .opciones1 .item.draggable {
    z-index: 3;
}

#act3 .opciones1 .item.draggable:after {
    content: unset;
}

#act3 .opciones1 .item.draggable:before {
    content: "\f263";
    font-family: "Ionicons";
    position: absolute;
    left: 0;
    top: 0;
}

#act3 .opciones1 .enlace1 {
    position: absolute;
    left: 26px;
    top: 95px;
    right: 0;
    z-index: 2;
    display: flex;
    background: #fff;
    padding-bottom: 5px;
}

#act3 .opciones1 .enlace2 {
    position: absolute;
    left: 26px;
    top: 245px;
    right: 0;
    z-index: 2;
    display: flex;
    background: #fff;
    padding-bottom: 5px;
}

#act3 .opciones1 .enlace .down_pointer {
    background-position: -548px -15px;
    width: 35px;
    height: 24px;
    margin-left: 10px;
}

#act3 .cajon .item {
    position: unset !important;
    margin: -1px 0 0 -1px;
}

#act3 .contenedor.educacion:after,
#act3 .contenedor.ambiente:after,
#act3 .contenedor.plataforma:after {
    content: "";
    position: absolute;
    left: -128px;
    width: 125px;
    border: 1px solid #d79f21;
}

#act3 .contenedor.educacion {
    border: 2px solid #d79f21;
}

#act3 .contenedor.ambiente {
    border: 2px solid #859390;
}

#act3 .contenedor.plataforma {
    border: 2px solid #17809d;
}

#act3 .contenedor.educacion:after {
    top: 50px;
    border: 1px solid #d79f21;
}

#act3 .contenedor.ambiente:after {
    top: 200px;
    border: 1px solid #859390;
}

#act3 .contenedor.plataforma:after {
    top: 350px;
    border: 1px solid #17809d;
}

#act3 .ctrl-pagination.sides .position {
    z-index: 2;
}

#act3 .ctrl-pagination.sides .button.previous {
    left: 10px;
}

#act3 .box_end {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 3;
}

#act3 .draggable.wrong {
    border-color: #D60C1B;
    color: #D60C1B;
}


/********************************************************************************/
/* didáctica de la enseñanza por competencias
/********************************************************************************/

#pag-contenidointeractivo-pointers .didactica_ensenanza {
    background: url(../content/didactica_competencias/didactica_ensenanza.png) no-repeat;
    background-size: cover;
    margin: 10px auto;
    width: 500px;
    height: 408px;
    position: relative;
}

#pag-contenidointeractivo-pointers .didactica_ensenanza .tooltip {
    position: absolute;
    border-radius: 10px;
    height: 42px;
    width: 106px;
    background-color: rgba(255, 255, 255, 0);
    background-size: 100% 100%;
    background-position: left bottom;
}

#pag-contenidointeractivo-pointers .didactica_ensenanza .tooltip:hover {
    background-color: rgba(192, 197, 208, 0.3);
}

#pag-contenidointeractivo-pointers .estudiante_1 {
    left: 195px;
    top: 122px;
}

#pag-contenidointeractivo-pointers .curriculo_2 {
    left: 74px;
    top: 329px;
}

#pag-contenidointeractivo-pointers .profesor_3 {
    left: 317px;
    top: 329px;
}


/********************************************************************************/
/* Infográfico secuencias didácticas
/********************************************************************************/

#pag-contenidointeractivo-pointers .secuencias_didacticas {
    background: url(../content/infografico_secuencias_didacticas.png) no-repeat;
    background-size: cover;
    margin: 10px auto;
    width: 700px;
    height: 408px;
    position: relative;
}

#pag-contenidointeractivo-pointers .secuencias_didacticas .tooltip {
    position: absolute;
    border-radius: 16px;
    height: 38px;
    width: 131px;
    background-color: rgba(255, 255, 255, 0);
    background-size: 100% 100%;
    background-position: left bottom;
}

#pag-contenidointeractivo-pointers .secuencias_didacticas .conocimientos_4.tooltip{
    width: 202px;
}

#pag-contenidointeractivo-pointers .secuencias_didacticas .tooltip:hover {
    background-color: rgba(192, 197, 208, 0.3);
}

#pag-contenidointeractivo-pointers .evaluacion_1 {
    left: 16px;
    top: 33px;
}

#pag-contenidointeractivo-pointers .recuperacion_2 {
    left: 16px;
    top: 130px;
}

#pag-contenidointeractivo-pointers .consolidacion_3 {
    left: 16px;
    top: 224px;
}

#pag-contenidointeractivo-pointers .conocimientos_4 {
    left: 16px;
    top: 322px;
}

#pag-contenidointeractivo-pointers .ampliacion_5 {
    left: 559px;
    top: 84px;
}

#pag-contenidointeractivo-pointers .refuerzo_6 {
    left: 559px;
    top: 174px;
}

#pag-contenidointeractivo-pointers .desarrollo_7 {
    left: 559px;
    top: 262px;
}


/********************************************************************************/
/* Sprite Situaciones de aprendizaje
/********************************************************************************/

#sit-aprendizaje #fila1 .situacion,
#sit-aprendizaje #fila2 .situacion{
    height: 170px;
    width: 170px;
}

#sit-aprendizaje #fila1 .situacion:nth-child(1) {
    background: url('../content/sprite_situaciones_aprendizaje.png') 0 0;
}

#sit-aprendizaje #fila1 .situacion:nth-child(2) {
    background: url('../content/sprite_situaciones_aprendizaje.png') -200px 0px;
}

#sit-aprendizaje #fila1 .situacion:nth-child(3) {
    background: url('../content/sprite_situaciones_aprendizaje.png') -400px 0px;
}

#sit-aprendizaje #fila2 .situacion:nth-child(1) {
    background: url('../content/sprite_situaciones_aprendizaje.png') 600px 0px;
}

#sit-aprendizaje #fila2 .situacion:nth-child(2) {
    background: url('../content/sprite_situaciones_aprendizaje.png') 404px 0px;
}

#sit-aprendizaje #fila2 .situacion:nth-child(3) {
    background: url('../content/sprite_situaciones_aprendizaje.png') 200px 0px;
}

#sit-aprendizaje .row {
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto;
}

#sit-aprendizaje .tooltip {
    position: absolute;
    border-radius: 166px;
    height: 166px;
    width: 166px;
    background-color: rgba(255, 255, 255, 0);
    background-size: 100% 100%;
    background-position: left bottom;
}

#sit-aprendizaje .tooltip:hover {
    background-color: rgba(192, 197, 208, 0.3);
}

#sit-aprendizaje .diagonal {
    position: absolute;
    width: 100px;
    border-bottom: 2px solid #d5d5d5;
    transform: rotate(50deg);
    top: 64.5%;
}

#sit-aprendizaje .diagonal1 {
    left: 33%;
}

#sit-aprendizaje .diagonal2 {
    left: 41%;
    transform: rotate(115deg);
    width: 85px;
}

#sit-aprendizaje .diagonal3 {
    left: 51%;
    transform: rotate(65deg);
    width: 85px;
}

#sit-aprendizaje .diagonal4 {
    left: 56%;
    transform: rotate(130deg);
}