html.single h2 {
    padding-left: 15px;
}

.centrar-img {
    text-align: center;
}
/********************************************************************************/
/* INSTRUCCIONES
/********************************************************************************/
#indicaciones div {
    text-align: center;
}

#indicaciones img {
    max-width: 720px;
}

/********************************************************************************/
/* DEFINICION
/********************************************************************************/
#definicion .definicion {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#definicion .definicion p {
    max-width: 680px;
    padding-right: 10px;
}

#definicion .logo_sql {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


#definicion .logo_sql span {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;    
}


#definicion .logo_sql div {
    background: #fa7564 url(../content/tema_5_open_sql.png) no-repeat 0 10px;
    background-size: 120px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}