#expand_image_content {
    display: block;
}

.expand-image {
    margin: auto;
}
/********************************************************************************/
/* MENU
/********************************************************************************/
#id-pagina .contenedor {
    margin-top: 10px;
}

#id-pagina .contenedor .contenido:first-child:before {
    left: 50%;
}

#id-pagina .contenedor .contenido:last-child:before {
    right: 50%;
}

#id-pagina .contenedor .contenido {
    position: relative;
    text-align: center;
}

#id-pagina .contenedor .paso1 .b1 {
    border: solid 10px #009081;
}

#id-pagina .contenedor .numero {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #000;
    border-radius: 50%;
    background-color: #fff;
    width: 80px;
    height: 80px;
    margin: 10px auto 0;
    z-index: 1;
    position: relative;
}

#id-pagina .contenedor .boton {
    padding: 10px 15px;
    width: 80%;
    height: 40px;
    color: #fff;
    text-decoration:none;
    text-align: center;
}

#id-pagina .contenedor .paso1 .boton {
    background-color: #78bdbf;
}

#id-pagina .contenedor .paso1 .boton:hover {
    background-color: #3a9d9e;
    cursor: pointer;
}

#id-pagina .contenedor .contenido .contenido_sobre {
    width: 200px;
    color: #fff;
    padding: 50px 20px 30px;
    margin: auto;
    top: -50px;
    position: relative;
}

#id-pagina .contenedor .paso1 .contenido_sobre {
    background-color: #40adb0;
}

#id-pagina .contenedor .paso2 .contenido_sobre {
    background-color: #60a381;
}

#id-pagina .contenedor .paso2 .numero {
    border: solid 10px #0b8053;
}

#id-pagina .paso2 .more-less .icon_more {
    background-color: #fff;
    border-radius: 50%;
    padding: 6px 13px 6px 12px;
}

#id-pagina .contenedor .paso2 img {
    max-width: 600px;
}

#id-pagina .contenedor .paso3 .contenido_sobre {
    background-color: #a7d092;
    text-align: left;
    padding: 50px 20px 0px;
    color: #374051;
}

#id-pagina .contenedor .paso3 .contenido_sobre > ul {
    padding-left: 5px;
}

#id-pagina .contenedor .paso3 .contenido_sobre > ul ul {
    padding-left: 30px;
}

#id-pagina .contenedor .paso3 .boton div {
    background-color: #bbd9a9;
    padding: 10px 15px;
    color: #374051;
}

#id-pagina .contenedor .paso3 .boton div:hover {
    background-color: #9bbc86;
    cursor: pointer;
}

#id-pagina .contenedor .paso3 .numero {
    border: solid 10px #5eb55f;
}

#id-pagina .contenedor .paso4 .boton {
    background-color: #fcc253;
    padding: 10px 5px;
}

#id-pagina .contenedor .paso4 .boton:hover {
    background-color: #dc9919;
    cursor: pointer;
}

#id-pagina .contenedor .paso4 .contenido_sobre {
    background-color: #f9b21a;
}

#id-pagina .contenedor .paso4 .numero {
    border: solid 10px #f18501;
}

