#expand_image_content {
    display: block;
}

.expand-image {
    margin: auto;
}
/********************************************************************************/
/* MENU
/********************************************************************************/
#pag-navegacion .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
    min-height: 400px;
}

#pag-navegacion .contenedor .contenido:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: -100%;
    border: 1px solid #878a90;
}

#pag-navegacion .contenedor .contenido:first-child:before {
    left: 50%;
}

#pag-navegacion .contenedor .contenido:last-child:before {
    right: 50%;
}

#pag-navegacion .contenedor .contenido {
    position: relative;
    width: 200px;
    text-align: center;
}

#pag-navegacion .contenedor .descarga .b1 {
    border: solid 10px #009081;
}

#pag-navegacion .contenedor .numero {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    color: #000;
    border-radius: 50%;
    background-color: #fff;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -50px;
    left: 70px;
}

#pag-navegacion .contenedor .boton {
    padding: 10px 15px;
    width: 80%;
    height: 40px;
    color: #fff;
    text-decoration:none;
    text-align: center;
}

#pag-navegacion .contenedor .descarga .boton {
    background-color: #78bdbf;
}

#pag-navegacion .contenedor .descarga .boton:hover {
    background-color: #3a9d9e;
    cursor: pointer;
}

#pag-navegacion .contenedor .contenido .contenido_sobre {
    width: 200px;
    color: #fff;
    padding: 50px 20px 30px;
}

#pag-navegacion .contenedor .descarga .contenido_sobre {
    background-color: #40adb0;
}

#pag-navegacion .contenedor .imagen .contenido_sobre {
    background-color: #60a381;
}

#pag-navegacion .contenedor .imagen .numero {
    border: solid 10px #0b8053;
}

#pag-navegacion .imagen .more-less .icon_more {
    background-color: #fff;
    border-radius: 50%;
    padding: 6px 13px 6px 12px;
}

#pag-navegacion .contenedor .imagen img {
    max-width: 600px;
}

#pag-navegacion .contenedor .udemy .contenido_sobre {
    background-color: #a7d092;
    text-align: left;
    padding: 50px 20px 0px;
    color: #374051;
}

#pag-navegacion .contenedor .udemy .contenido_sobre > ul {
    padding-left: 5px;
}

#pag-navegacion .contenedor .udemy .contenido_sobre > ul ul {
    padding-left: 30px;
}

#pag-navegacion .contenedor .udemy .boton div {
    background-color: #bbd9a9;
    padding: 10px 15px;
    color: #374051;
}

#pag-navegacion .contenedor .udemy .boton div:hover {
    background-color: #9bbc86;
    cursor: pointer;
}

#pag-navegacion .contenedor .udemy .numero {
    border: solid 10px #5eb55f;
}

#pag-navegacion .contenedor .datos .boton {
    background-color: #fcc253;
    padding: 10px 5px;
}

#pag-navegacion .contenedor .datos .boton:hover {
    background-color: #dc9919;
    cursor: pointer;
}

#pag-navegacion .contenedor .datos .contenido_sobre {
    background-color: #f9b21a;
}

#pag-navegacion .contenedor .datos .numero {
    border: solid 10px #f18501;
}