.sigla {
	display: flex;
	justify-content: center;
}

.letra {
	font-size: 200px;
}

/********************************************************************************/
/* Actividad crucigrama
/********************************************************************************/

.jpit-activities-crossword .word_content {
    width: 90%;
    text-align: justify;
}

.jpit-activities-crossword td {
    display: block;
    text-align: center;
    margin: auto;
}