/********************************************************************************/
/* Diagrama circular
/********************************************************************************/
#pag-obra .clasificacion {
    position: relative;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}

#pag-obra .clasificacion .seccion {
    position: absolute;
    background: url(../content/sprite-01.png) top left no-repeat;
}

#pag-obra .clasificacion .seccion.button {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#pag-obra .clasificacion .seccion.current,
#pag-obra .clasificacion .seccion:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

#pag-obra .clasificacion .escrita {
    width: 350px;
    height: 160px;
    background-position: -19px -16px;
}

#pag-obra .clasificacion .oral {
    width: 195px;
    height: 314px;
    background-position: -561px -22px;
    bottom: 0;
    left: 0;
}

#pag-obra .clasificacion .practica {
    width: 194px;
    height: 314px;
    background-position: -368px -22px;
    bottom: 0;
    right: 0;
}

#pag-obra .clasificacion .fondo {
    width: 321px;
    height: 320px;
    background-position: -800px -21px;
    top: 60px;
}

#pag-obra .clasificacion .centro {
    width: 161px;
    height: 166px;
    background-position: -1199px -20px;
    top: 134px;
}

#pag-obra .medios{
    width: 90%;
    margin: 0 auto;
    background-color: #f2f1f0;
    border-radius: 15px;
    border: 2px solid #9bc2e2;
    padding-top: 10px;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(215,218,224,0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(215,218,224,0.5);
    box-shadow: 10px 10px 5px 0px rgba(215,218,224,0.5);
}

#pag-obra .medios .nombre_seccion {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

#pag-obra .medios .nombre_seccion.escrita {
    background-color: #0056b4;
}

#pag-obra .medios .nombre_seccion.oral {
    background-color: #00a7e7;
}

#pag-obra .medios .nombre_seccion.practica {
    background-color: #fe8804;
}

#pag-obra .medios .datatable {
    max-width: 100%;
    border: 0;
}

#pag-obra .medios .datatable td {
    border: 0;
    border-top: 1px solid #fff;
}

#pag-obra .medios .tabla {
    height: 450px;
    overflow: auto;
}

#pag-obra .medios .tabla tr td:first-child {
    font-weight: bold;
}

#pag-obra .nota {
    text-align: center;
}