/********************************************************************************/
/* Diagrama circular
/********************************************************************************/
#pag-obra .circular {
    position: relative;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}

#pag-obra .circular .seccion {
    position: absolute;
    background: url(../content/sprite-01.png) top left no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

#pag-obra .circular .seccion.button {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#pag-obra .circular .seccion.current,
#pag-obra .circular .seccion:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

#pag-obra .circular .elemento1 {
    width: 350px;
    height: 160px;
    background-position: -19px -16px;
}

#pag-obra .circular .elemento2 {
    width: 195px;
    height: 314px;
    background-position: -561px -22px;
    bottom: 0;
    left: 0;
}

#pag-obra .circular .elemento3 {
    width: 194px;
    height: 314px;
    background-position: -368px -22px;
    bottom: 0;
    right: 0;
}

#pag-obra .circular .fondo {
    width: 321px;
    height: 320px;
    background-position: -800px -21px;
    top: 60px;
}

#pag-obra .circular .centro {
    width: 161px;
    height: 166px;
    background-position: -1199px -20px;
    top: 134px;
    color: #4b4b4b;
}

#pag-obra .contenido {
    width: 90%;
    margin: 0 auto;
    background-color: #f2f1f0;
    border-radius: 15px;
    border: 2px solid #9bc2e2;
    padding-top: 10px;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(215,218,224,0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(215,218,224,0.5);
    box-shadow: 10px 10px 5px 0px rgba(215,218,224,0.5);
}

#pag-obra .contenido .nombre_seccion {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    height: 40px;
}

#pag-obra .contenido .nombre_seccion.elemento1 {
    background-color: #0056b4;
}

#pag-obra .contenido .nombre_seccion.elemento2 {
    background-color: #00a7e7;
}

#pag-obra .contenido .nombre_seccion.elemento3 {
    background-color: #fe8804;
}

#pag-obra .contenido .datatable {
    max-width: 100%;
    border: 0;
}

#pag-obra .contenido .datatable td {
    border: 0;
    border-top: 1px solid #fff;
}

#pag-obra .contenido .tabla {
    height: 450px;
    overflow: auto;
}

#pag-obra .contenido .tabla tr td:first-child {
    font-weight: bold;
}

#pag-obra .contenido p {
    padding: 5px 15px;
}