#pag-dis-cie-pro .horizontal-menu .chalkboard_content {
    height: 300px;
}

.jpit-activities-selection li {
    margin-bottom: 5px;
    cursor: pointer;
    padding: 2px 5px;
}

#pag-relacion img {
    margin-right: 20px;
    float: left;
}

#pag-dis-cie-pro .izq {
    margin: 20px;
    float: left;
}

#pag-dis-cie-pro .der {
    margin: 20px;
    float: right;
}