/********************************************************************************/
/* MENU
/********************************************************************************/
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
}

.contenedor .descarga {
    width: 200px;
    height: 180px;
    background-color: #40adb0;
    color: #fff;
    text-align: center;
    padding: 0 20px;
}

.contenedor .descarga .numero {
    border: solid 10px #009081;
}

.contenedor .numero {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    color: #000;
    border-radius: 50%;
    background-color: #fff;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.contenedor .boton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    margin-bottom: -30px;
}

.contenedor .descarga .boton {
    background-color: #78bdbf;
}

.contenedor .descarga .boton:hover {
    background-color: #3a9d9e;   
    cursor: pointer;
}

.contenedor .ubicacion {
    position: relative;
    top: -45px;   
}

.contenedor .imagen {
    width: 200px;
    height: 180px;
    background-color: #60a381;
    color: #fff;
    text-align: center;
    padding: 0 20px;
}

.contenedor .imagen .numero {
    border: solid 10px #0b8053;
}

.contenedor .imagen img {
    max-width: 400px;
}

.contenedor .udemy .boton {
    background-color: #bbd9a9;
}

.contenedor .udemy .boton:hover {
    background-color: #9bbc86;
    cursor: pointer;
}

.contenedor .udemy {
    width: 200px;
    background-color: #a7d092;
    color: #fff;
    padding: 0 20px;
}

.contenedor .udemy .numero {
    border: solid 10px #5eb55f;
}

.contenedor .datos .boton {
    background-color: #fcc253;
}

.contenedor .datos .boton:hover {
    background-color: #dc9919;
    cursor: pointer;
}

.contenedor .datos {
    width: 200px;
    height: 180px;
    background-color: #f9b21a;
    color: #fff;
    padding: 0 20px;
}

.contenedor .datos .numero {
    border: solid 10px #f18501;
}