/********************************************************************************/
/* INSTRUCCIONES
/********************************************************************************/
#indicaciones div {
    text-align: center;
}

#indicaciones img {
    max-width: 720px;
}

/********************************************************************************/
/* MENU
/********************************************************************************/
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
}

.contenedor .descarga {
    width: 200px;
    height: 180px;
    background-color: #40adb0;
    color: #fff;
    text-align: center;
    padding: 0 20px;
}

.contenedor .descarga .numero {
    border: solid 10px #009081;
}

.contenedor .numero {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    color: #000;
    border-radius: 50%;
    background-color: #fff;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.contenedor .boton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    margin-bottom: -30px;
}

.contenedor .descarga .boton {
    background-color: #78bdbf;
}

.contenedor .descarga .boton:hover {
    background-color: #3a9d9e;   
    cursor: pointer;
}

.contenedor .ubicacion {
    position: relative;
    top: -45px;   
}

.contenedor .imagen {
    width: 200px;
    height: 180px;
    background-color: #60a381;
    color: #fff;
    text-align: center;
    padding: 0 20px;
}

.contenedor .imagen .numero {
    border: solid 10px #0b8053;
}

.contenedor .imagen img {
    max-width: 400px;
}

.contenedor .udemy .boton {
    background-color: #bbd9a9;
}

.contenedor .udemy .boton:hover {
    background-color: #9bbc86;
    cursor: pointer;
}

.contenedor .udemy {
    width: 200px;
    background-color: #a7d092;
    color: #fff;
    padding: 0 20px;
}

.contenedor .udemy .numero {
    border: solid 10px #5eb55f;
}

.contenedor .datos .boton {
    background-color: #fcc253;
}

.contenedor .datos .boton:hover {
    background-color: #dc9919;
    cursor: pointer;
}

.contenedor .datos {
    width: 200px;
    height: 180px;
    background-color: #f9b21a;
    color: #fff;
    padding: 0 20px;
}

.contenedor .datos .numero {
    border: solid 10px #f18501;
}

/********************************************************************************/
/* TEMAS
/********************************************************************************/

.horizontal-menu img {
    max-width: 95%;
}

.horizontal-menu .elementos {
    background: url(../content/tema_2_elementos_de_pantalla.png) no-repeat;
    height: 540px;
    background-size: 720px;
    position: relative;
}

.horizontal-menu .elementos .note_pointer_left {
    background: transparent;
    background-position: 100px;
    color: transparent;
}

.horizontal-menu .elementos .comandos {
    left: 145px;
    top: 45px;
    width: 83px;
    max-height: 22px;
}

.horizontal-menu .elementos .menus {
    left: 549px;
    top: 10px;
    width: 74px;
    max-height: 22px;
}

.horizontal-menu .elementos .titulo {
    top: 67px;
    width: 74px;
    max-height: 22px;
    left: 433px;
}

.horizontal-menu .elementos .pulsadores {
    top: 91px;
    left: 345px;
    width: 74px;
    max-height: 22px;
}

.horizontal-menu .elementos .herramientas {
    top: 47px;
    left: 534px;
    width: 151px;
    max-height: 22px;
}

.horizontal-menu .elementos .etiquetas {
    top: 163px;
    left: 193px;
    width: 75px;
    max-height: 22px;
}

.horizontal-menu .elementos .entrada {
    top: 209px;
    left: 244px;
    width: 85px;
    max-height: 22px;
}

.horizontal-menu .elementos .status {
    top: 505px;
    left: 477px;
    width: 74px;
    max-height: 22px;
}

.horizontal-menu .ctrl-pagination li {
    display: flex;
    justify-content: center;
}

.horizontal-menu .ctrl-pagination li .comando_text {
    width: 50%;
}

.horizontal-menu .ctrl-pagination .comando {
    height: 200px;
}