/********************************************************************************/
/* Actividad 1 - Reconociendo la relación entre educación y TIC
/********************************************************************************/

#act1 .bloque1 {
    width: 800px;
    height: 430px;
    margin: auto;
    position: relative;
}

#act1 .contenedor {
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    border: 2px solid #f3f3f3;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
    background-color: #f3f3f3;
}

#act1 .cajon {
    border: 1px dashed #0089A9;
    border-radius: 15px;
    width: 160px;
    height: 60px;
    margin: 0 auto;
    background-color: #dcdcdd;
    padding: 0;
}

#act1 .item {
    border-radius: 15px;
    width: 150px;
    height: 50px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#act1 .item1 {
    background-color: #f5e7ae;
    border: 2px solid #d79f21;
}

#act1 .item2 {
    background-color: #dcdcdd;
    border: 2px solid #859390;
}

#act1 .item3 {
    background-color: #e2f3f4;
    border: 2px solid #17809d;
}

#act1 .ctrl-pagination {
    background-color: transparent;
    border: none;
    width: 500px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

#act1 .opciones1 {
    position: absolute;
    left: 0;
    top: 20px;
    bottom: 0;
    width: 280px;
}

#act1 .opciones1 .item {
    position: absolute;
    text-align: center;
    padding: 5px;
}

#act1 .opciones1 .item1 {
    top: 0;
}

#act1 .opciones1 .item2 {
    top: 150px;
}


#act1 .opciones1 .item3 {
    top: 300px;
}

#act1 .opciones1 .item1:after {
    position: absolute;
    left: 50px;
    top: calc(100% + 8px);
    border: 1px solid #d79f21;
    content: "";
    height: 70px;
}

#act1 .opciones1 .item2:after {
    position: absolute;
    left: 50px;
    top: calc(100% + 8px);
    border: 1px solid #17809d;
    content: "";
    height: 70px;
}

#act1 .opciones1 .item.draggable {
    z-index: 3;
}

#act1 .opciones1 .item.draggable:after {
    content: unset;
}

#act1 .opciones1 .item.draggable:before {
    content: "\f263";
    font-family: "Ionicons";
    position: absolute;
    left: 0;
    top: 0;
}

#act1 .opciones1 .enlace1 {
    position: absolute;
    left: 26px;
    top: 95px;
    right: 0;
    z-index: 2;
    display: flex;
    background: #fff;
    padding-bottom: 5px;
}

#act1 .opciones1 .enlace2 {
    position: absolute;
    left: 26px;
    top: 245px;
    right: 0;
    z-index: 2;
    display: flex;
    background: #fff;
    padding-bottom: 5px;
}

#act1 .opciones1 .enlace .down_pointer {
    background-position: -548px -15px;
    width: 35px;
    height: 24px;
    margin-left: 10px;
}

#act1 .cajon .item {
    position: unset !important;
    margin: -1px 0 0 -1px;
}

#act1 .contenedor.educacion:after,
#act1 .contenedor.ambiente:after,
#act1 .contenedor.plataforma:after {
    content: "";
    position: absolute;
    left: -128px;
    width: 125px;
    border: 1px solid #d79f21;
}

#act1 .contenedor.educacion {
    border: 2px solid #d79f21;
}

#act1 .contenedor.ambiente {
    border: 2px solid #859390;
}

#act1 .contenedor.plataforma {
    border: 2px solid #17809d;
}

#act1 .contenedor.educacion:after {
    top: 50px;
    border: 1px solid #d79f21;
}

#act1 .contenedor.ambiente:after {
    top: 200px;
    border: 1px solid #859390;
}

#act1 .contenedor.plataforma:after {
    top: 350px;
    border: 1px solid #17809d;
}

#act1 .ctrl-pagination.sides .position {
    z-index: 2;
}

#act1 .ctrl-pagination.sides .button.previous {
    left: 10px;
}

#act1 .box_end {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 3;
}

#act1 .draggable.wrong {
    border-color: #D60C1B;
    color: #D60C1B;
}

/********************************************************************************/
/* Actividad 2 - Uso de redes en la educación virtual
/********************************************************************************/

#act2 .titulo {
    width: 160px;
    height: 60px;
    border-radius: 10px;
    border: 5px solid #dcdcdd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#act2 .son {
    width: 40px;
    height: 20px;
    background-color: #dcdcdd;
    border-radius: 0 0 5px 5px;
    text-align: center;
    position: absolute;

}

#act2 .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    border: 3px solid #dcdcdd;
    padding-bottom: 10px;
}

#act2 .sombra {
    width: 180px;
    height: 180px;
    margin: 5px;
    margin-top: 30px;
}

#act2 .modalidad {
    width: 178px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#act2 .color1 {
    background-color: #e2f3f4;
    border: 2px solid #17809d;
}

#act2 .color2 {
    background-color: #f5e7ae;
    border: 2px solid #d79f21;
}

#act2 .color3 {
    background-color: #dcdcdd;
    border: 2px solid #859390;
}

#act2 .droppable {
    width: 180px;
    height: 155px;
    margin-top: 5px;
    background-color: #f1f0ef;
    border: 1px dashed #859390;
    border-radius: 10px;
}

#act2 .item {
    width: 165px;
    height: 140px;
    font-size: 12px;
    border-radius: 10px;
    border: 2px solid #17809d;
    background-color: #e2f3f4;
    color: #000;
    margin: 5px;
    overflow: auto;
}

#act2 .item p {
    margin: 0;
    line-height: 15px;
}

#act2 .opciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#act2 .droppable .draggable {
    margin: 0;
}

#act2 .draggable.wrong {
    border-color: #D60C1B;
    color: #D60C1B;
}

/********************************************************************************/
/* Actividad 3 - Competencias TIC para el desarrollo profesional docente
/********************************************************************************/

#act3 .titulo {
    width: 400px;
    background-color: #f1f0ef;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: -30px;
    z-index: 2;
    position: relative;
}

#act3 .izq {
    width: 50%;
}

#act3 .izq p {
    text-align: center;
    font-size: 12px;
    line-height: 15px;
}

#act3 .banner {
    width: 90%;
    margin: 0 auto;
    background-color: #ecd46c;
    border: 2px solid #d79f21;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

#act3 .banner img {
    width: 70px;
}

#act3 .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    border: 3px solid #ecd46c;
    padding: 30px 10px 10px;
}

#act3 .sombra {
    width: 190px;
    height: 220px;
    margin: 5px;
}

#act3 .competencia {
    width: 188px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2f3f4;
    border: 2px solid #17809d;
    font-weight: bold;
}

#act3 .droppable {
    width: 185px;
    height: 145px;
    margin-top: 5px;
    background-color: #f1f0ef;
    border: 1px dashed #859390;
    border-radius: 10px;
}

#act3 .item {
    width: 170px;
    height: 130px;
    font-size: 12px;
    border-radius: 10px;
    border: 2px solid #17809d;
    background-color: #e2f3f4;
    color: #000;
    margin: 5px;
    overflow: auto;
    z-index: 3;
}

#act3 .item p {
    margin: 0;
    line-height: 15px;
}

#act3 .opciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#act3 .droppable .draggable {
    margin: 0;
}

#act3 .draggable.wrong {
    border-color: #D60C1B;
    color: #D60C1B;
}

/********************************************************************************/
/* Actividad 4 - Rol del profesor y el estudiante en la educación virtual*/
/********************************************************************************/

#act4.jpit-activities-multidroppable .box_targets {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#act4.jpit-activities-multidroppable .box_targets img {
    width: 40%;
    margin: 0 5px;
}

#act4.jpit-activities-multidroppable .sombra {
    border-radius: 10px;
    background-color: #f1f0ef;
    padding: 4px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
}

#act4.jpit-activities-multidroppable .target {
    width: 220px;
    height: 97%;
    border: 1px dashed #859390;
    border-radius: 10px;
    background-color: #f1f0ef;
}

#act4.jpit-activities-multidroppable .sources {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#act4.jpit-activities-multidroppable .rol {
    width: 200px;
    font-size: 12px;
    border-radius: 10px;
    border: 2px solid #17809d;
    background-color: #e2f3f4;
    color: #000;
    margin: 5px;
}

#act4.jpit-activities-multidroppable .buttons {
    text-align: center;
    padding: 5px 0;
    clear: both;
}

#act4 .draggable.wrong {
    border-color: #D60C1B;
    color: #D60C1B;
}

/********************************************************************************/
/* Actividad 5 - Componentes de una plataforma educativa*/
/********************************************************************************/

#act5 .box_targets {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
}

#act5 .caracteristicas {
    text-align: center;
}

#act5 .titulo,
#act5 .subtitulo {
    width: 240px;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#act5 .titulo {
    background-color: #ecd46c;
    border: 2px solid #d79f21;
    margin: 20px auto;
}


#act5 .sub1 {
    background-color: #f5e7ae;
    border: 2px solid #d79f21;
}

#act5 .sub2 {
    background-color: #dcdcdd;
    border: 2px solid #859390;
}

#act5 .sub3 {
    background-color: #e2f3f4;
    border: 2px solid #17809d;
}

#act5 .target {
    width: 220px;
    min-height: 200px;
    height: 97%;
    border: 1px dashed #859390;
    border-radius: 10px;
    background-color: #f1f0ef;
}

#act5 .sombra {
    border-radius: 10px;
    background-color: #f1f0ef;
    padding: 4px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
}

#act5 .buttons {
    text-align: center;
    padding: 5px 0;
    clear: both;
}

#act5 .sources {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#act5 .caracteristica {
    width: 200px;
    border-radius: 10px;
    border: 2px solid #17809d;
    background-color: #e2f3f4;
    color: #000;
    margin: 5px;
}

#act5 .draggable.wrong {
    border-color: #D60C1B;
    color: #D60C1B;
}

#act5 .conectores {
    border: 2px solid #d79f21;
    border-bottom: none;
    width: 47%;
    height: 30px;
    margin: auto;
    position: relative;
    min-width: 490px;
}

#act5 .conectores:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -23px;
    height: 50px;
    border: 2px solid #d79f21;
    border-right: 0;
}

/********************************************************************************/
/* Actividad 6 - Diferencia entre OVA y RED*/
/********************************************************************************/


#act6 .titulo {
    width: 840px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
}

#act6 .izq {
    width: 300px;
    text-align: center;
    z-index: 2;
}

#act6 .izq p {
    text-align: center;
    font-size: 12px;
}

#act6 .contenedor {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 840px;
    margin: 0 auto;
}

#act6 .target {
    width: 204px;
    height: 214px;
    border: 1px dashed #859390;
    border-radius: 10px;
    background-color: #f1f0ef;
    margin-top: 10px;
}

#act6 .sub1 {
    background-color: #dcdcdd;
    border: 2px solid #859390;
}

#act6 .titulo .sub1:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -26px;
    width: 22px;
    border: 2px solid #859390;
    border-bottom: 0;
}

#act6 .sub2 {
    background-color: #f5e7ae;
    border: 2px solid #d79f21;
}

#act6 .sub3 {
    background-color: #e2f3f4;
    border: 2px solid #17809d;
}

#act6 .subtitulo {
    width: 150px;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

#act6 .conector {
    margin-top: 20px;
    background-color: #fff;
}

#act6 .item {
    width: 190px;
    max-height: 200px;
    border-radius: 10px;
    border: 2px solid #17809d;
    background-color: #e2f3f4;
    color: #000;
    margin: 5px;
    overflow: auto;
    z-index: 3;
}

#act6 .item p {
    line-height: 17px;
    margin: 0;
}

#act6 .opciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#act6 .izq .subtitulo {
    width: 250px;
}

#act6 .draggable.wrong {
    border-color: #D60C1B;
    color: #D60C1B;
}

#act6 .droppable .draggable {
    margin: 0;
}

#act6 .conectores {
    border-top: 2px solid #d79f21;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 30px;
    position: relative;
}

#act6 .conectores > div {
    border-left: 2px solid #d79f21;
    height: 30px;
}

#act6 .conectores:after {
    content: "";
    position: absolute;
    left: 69px;
    top: -108px;
    height: 103px;
    border: 2px solid #d79f21;
    border-right: 0;
}

/********************************************************************************/
/* Actividad 7 - ¿Cuánto se aprendió?*/
/********************************************************************************/

#act7 .board {
    background: url(../content/bg_act7.png) no-repeat;
    width: 900px;
    height: 670px;
    margin: 0 auto 20px;
    position: relative;
    border-bottom: 1px solid #eee;
}

#act7 .item {
    margin: 0;
}

#act7 .board .item {
    position: absolute;
    padding: 0;
}

#act7 .item.tipo1 {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #e2f3f4;
    color: #000;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0d8fae;
    padding: 5px;
}

#act7 .board > .item.tipo1 {
    width: 160px;
    height: 60px;
    margin: 0;
    padding: 0;
}

#act7 .item.tipo2 {
    width: 110px;
    height: 30px;
    border-radius: 10px;
    background-color: #eeeeee;
    color: #000;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
    line-height: 13px;
    font-size: 12px;
    padding: 3px;
    border: none;
}

#act7 .board > .item.tipo2 {
    width: 110px;
    height: 30px;
    margin: 0;
}

#act7 .board > .item > .item {
    margin: -2px;
}

#act7 .opciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#act7 .draggable {
    border: 0;
}

#act7 .item.d1 { top: 148px; left: 0; }
#act7 .item.d2 { top: 325px; left: 172px; }
#act7 .item.d3 { top: 160px; left: 352px; }
#act7 .item.d4 { top: 325px; left: 733px; }
#act7 .item.d5 { top: 325px; left: 550px; }
#act7 .item.d6 { top: 484px; left: 755px; }
#act7 .item.d7 { top: 549px; left: 755px; }
#act7 .item.d8 { top: 484px; left: 572px; }
#act7 .item.d9 { top: 549px; left: 572px; }
#act7 .item.d10 { top: 614px; left: 572px; }
#act7 .item.d11 { top: 549px; left: 17px; }
#act7 .item.d12 { top: 549px; left: 200px; }
#act7 .item.d13 { top: 549px; left: 375px; }

#act7 {
    overflow: auto;
}

#act7 .draggable.wrong {
    border-color: #D60C1B;
    color: #D60C1B;
}
