.text_tooltip {
    min-width: 200px;
}

.jpit-activities-droppable .linea1 {
    border-bottom: 2px solid #70B1BC;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 800px;
}

.jpit-activities-droppable .contenedor {
    margin: 0 5px 10px 0;
}

.jpit-activities-droppable .sombra {
    background-color: #F1F1F0;
    margin: 0 auto;
    padding: 3px;
    border-radius: 20px;
}

.ano {
    width: 60px;
    height: 20px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.ano1 {
    background-color: #73C8D1;
}


.der .ano:after {
    border: 10px solid transparent;
    position: absolute;
    right: -20px;
    content: "";
}

.der .ano1:after {
    border-left-color: #73C8D1;
}

.der .ano2:after {
    border-left-color: #879592;
}

.der .ano3:after {
    border-left-color: #FF8000;
}

.izq .ano:after {
    border: 10px solid transparent;
    position: absolute;
    left: -20px;
    content: "";
}

.izq .ano1:after {
    border-right-color: #73C8D1;
}

.izq .ano3:after {
    border-right-color: #FF8000;
}

.ano2 {
        background-color: #879592;
}

.ano3 {
        background-color: #FF8000;
}

.jpit-activities-droppable .cajon {
    border: 1px dashed #0089A9;
    border-radius: 15px;
    width: 140px;
    height: 120px;
    display: flex;
    justify-content: flex-start;

}

.jpit-activities-droppable .linea1 {
    border-bottom: 2px solid #70B1BC;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 800px;
    padding-top: 40px;
    flex-wrap: wrap;
}

.jpit-activities-droppable .linea2 {
    border-bottom: 2px solid #70B1BC;
    border-right: 2px solid #70B1BC;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    max-width: 800px;
    padding-top: 40px;
    flex-wrap: wrap;
}

.jpit-activities-droppable .introductorio {
    border-left: 2px solid #70B1BC;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px 0;
}

.jpit-activities-droppable .introductorio1 {
    border-left: 2px solid #70B1BC;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px 0;
}

.jpit-activities-droppable .introductorio1 p,
.jpit-activities-droppable .introductorio1 h3,
.jpit-activities-droppable .introductorio p,
.jpit-activities-droppable .introductorio h3 {
    padding: 0 20px;
}

.jpit-activities-droppable .linea1 {
    border-bottom: 2px solid #70B1BC;
    border-left: 2px solid #70B1BC;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 800px;
    padding-top: 40px;
}

.jpit-activities-droppable .introductorio2 {
    border-right: 2px solid #70B1BC;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px 0;
}

.jpit-activities-droppable .opciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.jpit-activities-droppable .item {
    border: 1px solid #73C8D1;
    border-radius: 15px;
    width: 130px;
    height: 110px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: #000;
}

.jpit-activities-droppable .opciones1 .item {
    background-color: #DFE9EF;
}

.jpit-activities-droppable .opciones2 .item {
    background-color: #DCE0DF;
}

.jpit-activities-droppable .opciones3 .item {
    background-color: #F7C490;
}

.jpit-activities-droppable .scroll {
    display: block;
    overflow: auto;
}

.w-content {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
}

.w-content .imagen img {
    display: block;
    margin: auto;
}

.w-content .imagen {
    text-align: center;
    font-size: 12px;
}

.w-content .completo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 10px;
}

.completo .ano {
    margin-left: 0;
    left: 0;
}

.completo .ano:after {
    border: 10px solid transparent;
    position: absolute;
    left: 60px;
    content: "";
}

.completo .ano1:after {
    border-left-color: #73C8D1;
}

.completo .ano2:after {
    border-left-color: #879592;
}

.completo .ano3:after {
    border-left-color: #FF8000;
}
