/********************************************************************************/
/* Actividad arrastrar y soltar multiple
/********************************************************************************/
#pag-cambia .wf-content.autox.autoy {
    position: fixed;
    top: 40px;
    bottom: 60px;
}
#pag-cambia .wf-content.autox.autoy .content_wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
    left: 0;
    right: 0;
}

#pag-cambia .wf-content.autox.autoy .content_wrapper > div {
    max-width: 900px;
    margin: auto;
}

.actividad1 {
    height: 100%;
    background-color: #f3f3f3;
    border: 3px solid #40bcc6
}

.interactive-buttons-container-1 {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    background-color: #232F4F;
    color: #868589;
    margin: 0 auto 40px auto;
    font-size: 12px;
}
.interactive-buttons-container-1 .interactive-button {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    background: #D2D0D4;
    transform: rotate(45deg);
}
.interactive-buttons-container-1 .interactive-button > div {
    transform: rotate(-45deg);
    pointer-events: none;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.interactive-buttons-container-1 .interactive-button:hover {
    color: #FFFFFF;
}
.interactive-buttons-container-1 .button-1 {
    top: -30px;
    left: 0px;
    -moz-border-radius: 200px 0 0 0;
    -webkit-border-radius: 200px 0 0 0;
    border-radius: 200px 0 0 0;
    transform-origin: right bottom;
}
.interactive-buttons-container-1 .button-1:hover {
    background-color: #315A6E;
}
.interactive-buttons-container-1 .button-2 {
    bottom: 0;
    left: -30px;
    -moz-border-radius: 0 0 0 200px;
    -webkit-border-radius: 0 0 0 200px;
    border-radius: 0 0 0 200px;
    transform-origin: right top;
}
.interactive-buttons-container-1 .button-2:hover {
    background-color: #6C93AD;
}
.interactive-buttons-container-1 .interactive-button.button-2 > div {
    width: 60%;
    height: 100%;
    margin-left: 50px;
}
.interactive-buttons-container-1 .button-3 {
    bottom: -30px;
    right: 0;
    border-radius: 0 0 200px 0;
    -moz-border-radius: 0 0 200px 0;
    -webkit-border-radius: 0 0 200px 0;
    transform-origin: left top;
}
.interactive-buttons-container-1 .button-3:hover {
    background-color: #49A5E1;
}
.interactive-buttons-container-1 .button-4 {
    top: 0;
    right: -30px;
    -moz-border-radius: 0 200px 0 0;
    -webkit-border-radius: 0 200px 0 0;
    border-radius: 0 200px 0 0;
    transform-origin: left bottom;
}
.interactive-buttons-container-1 .button-4:hover {
    background-color: #294692;
}
.interactive-buttons-container-1 .interactive-button.button-4 > div {
    width: 60%;
    height: 100%;
    margin-left: 30px;
}
.interactive-buttons-container-1 .content {
    background: #D2D0D4;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    left: calc(50% - 90px);
    top: calc(50% - 90px);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2px;
    border: solid 15px #232F4F;
    color: #333E5B;
}
/*****
*****/
.interactive-buttons-container-2 {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: transparent;
    color: #868589;
    margin: 40px auto;
    font-size: 12px;
    font-weight: bold;
}
.interactive-buttons-container-2 .background-zone {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: #213D49;
}
.interactive-buttons-container-2 .interactive-button {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    background: #D7D8DC;
    transform: rotate(45deg);
}
.interactive-buttons-container-2 .interactive-button > div {
    transform: rotate(-45deg);
    pointer-events: none;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    justify-content: center;
}
.interactive-buttons-container-2 .interactive-button:hover {
    color: #FFFFFF;
}
.interactive-buttons-container-2 .button-1 {
    top: 0px;
    left: 0px;
    -moz-border-radius: 150px 0 0 0;
    -webkit-border-radius: 150px 0 0 0;
    border-radius: 150px 0 0 0;
    transform-origin: right bottom;
}
.interactive-buttons-container-2 .button-1:hover {
    background-color: #4AA7E2;
}
.interactive-buttons-container-2 .button-2 {
    bottom: 0px;
    left: 0px;
    -moz-border-radius: 0 0 0 150px;
    -webkit-border-radius: 0 0 0 150px;
    border-radius: 0 0 0 150px;
    transform-origin: right top;
    transform: rotate(15deg);
}
.interactive-buttons-container-2 .button-2:hover {
    background-color: #E49E35;
}
.interactive-buttons-container-2 .interactive-button.button-2 > div {
    width: 100%;
    transform: rotate(45deg);
    position: absolute;
    top: 70px;
}
.interactive-buttons-container-2 .button-3 {
    bottom: 0px;
    right: 0px;
    border-radius: 0 0 150px 0;
    -moz-border-radius: 0 0 150px 0;
    -webkit-border-radius: 0 0 150px 0;
    transform-origin: left top;
    transform: rotate(-15deg);
}
.interactive-buttons-container-2 .button-3:hover {
    background-color: #BA7046;
}
.interactive-buttons-container-2 .interactive-button.button-3 > div {
}
.interactive-buttons-container-2 .content {
    background: #D2D0D4;
    color: #213D49;
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 75px;
    left: calc(50% - 75px);
    top: calc(50% - 75px);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2px;
    border: solid 15px #232F4F;
}
.draggable_board {
    display: flex;
    flex-flow: column;
}

.draggable_board .draggable.disabled {
    cursor: default;
}

.draggable_board .column_draggables {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.draggable_board .column_dropzones {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 20px;
}

.jpit-activities-droppable .draggable_board .draggable {
    width: 165px;
    float: left;
    margin: 0 1px 5px;
    color: #354451;
    background-color: #E5F2F4;
    border: solid 2px #71AED7;
    border-radius: 5px;
}

.jpit-activities-droppable .draggable_board .draggable.disabled {
    cursor: default;
}

.draggable_board .column_dropzones .dropzone {
    width: 200px;
}
.draggable_board .column_dropzones .dropzone h5 {
    background-color: #FBE4A2;
    border: solid 2px #E0AA49;
    border-radius: 5px;
    text-align: center;
    padding: 2px;
    margin: 0 0 5px 0;
}
.draggable_board .column_dropzones .dropzone .target.droppable {
    min-height: 150px;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    background-color: #F1EFEE;
    border: dashed 2px #DEDEDE;
    border-radius: 5px;
}
.draggable_board .column_dropzones .dropzone .target.droppable.correct,
.jpit-activities-droppable .draggable_board .draggable.correct {
    border-color: #7bb004;
}
.draggable_board .column_dropzones .dropzone .target.droppable.wrong,
.jpit-activities-droppable .draggable_board .draggable.wrong {
    border-color: #D60C1B;
}
.jpit-activities-droppable .draggable_board .jpit_activities_jpitdroppable_dropped {
    background-color: #E5F2F4;
    border: solid 2px #71AED7;
    color: #354451;
}
/********************************************************************************/
/* Actividad arrastrar y soltar - insertar
/********************************************************************************/

#pag-actividades-arrastrar4 .chalkboard_content {
    height: auto;
}

#act_herramientas .cases_droppables_board {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 20px auto;
}

#act_herramientas .cases_droppables_board .cases_label_inner,
#act_herramientas .cases_droppables_board .cases_label_outer {
    position: absolute;
    border-radius: 50%;
}
#act_herramientas .cases_droppables_board .cases_label_outer {
    width: 100px;
    height: 100px;
    top: calc(50% - 51px);
    left: calc(50% - 51px);
    background-color: #dedede;
    border: solid 1px transparent;
}
#act_herramientas .cases_droppables_board .cases_label_inner {
    width: 80px;
    height: 80px;
    top: calc(50% - 41px);
    left: calc(50% - 41px);
    border: solid 1px #537687;
    background-color: #FFFFFF;
    color: #537687;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#act_herramientas .cases_droppables_board .case_box {
    width: calc(150px * .75);
    height: calc(160px * .75);
    position: absolute;
}
.w-content .avatar {
    float: left;
    margin: 10px;
}

.w-content .avatar,
#act_herramientas .cases_droppables_board .case_box .case_img {
    background: url(../content/sprite-03.png) no-repeat center;
    background-size: calc(584px * .75) calc(372px * .75);
    width: calc(150px * .75);
    height: calc(165px * .75);
}
#act_herramientas .cases_droppables_board .case_box.case_1 {
    right: calc(50% + 90px);
    bottom: calc(50% - 165px*.75*.25);
}

.w-content .avatar.case_1,
#act_herramientas .cases_droppables_board .case_box.case_1 .case_img {
    background-position: calc(200px*-.75)  calc(5px*-.75);
}
#act_herramientas .cases_droppables_board .case_box.case_2 {
    bottom: calc(50% + 80px);
    left: calc(50% - 150px*.75/2);
}
.w-content .avatar.case_2,
#act_herramientas .cases_droppables_board .case_box.case_2 .case_img {
    background-position:  calc(4px*-.75)  calc(5px*-.75);
}
#act_herramientas .cases_droppables_board .case_box.case_3 {
    top: calc(50% + 60px);
    right: calc(50% + 40px);
}
.w-content .avatar.case_3,
#act_herramientas .cases_droppables_board .case_box.case_3 .case_img {
    background-position:  calc(4px*-.75) calc(188px*-.75);
}
#act_herramientas .cases_droppables_board .case_box.case_4 {
    top: calc(50% + 60px);
    left: calc(50% + 40px);
}
.w-content .avatar.case_4,
#act_herramientas .cases_droppables_board .case_box.case_4 .case_img {
    background-position: calc(200px*-.75) calc(188px*-.75);
}
#act_herramientas .cases_droppables_board .case_box.case_5 {
    left: calc(50% + 90px);
    bottom: calc(50% - 165px*.75*.25);
}
.w-content .avatar.case_5,
#act_herramientas .cases_droppables_board .case_box.case_5 .case_img {
    background-position: calc(400px*-.75)  calc(3px*-.75);
}

#act_herramientas .cases_droppables_board .case_box .case_box_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#act_herramientas .cases_droppables_board .dropzone {
    position: absolute;
    top: -60px;
    left: calc(50% - 75px);
    background-color: #F1EFEE;
    border: dashed 2px #DEDEDE;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    padding: 0px;
    display: flex;
}
#act_herramientas .cases_droppables_board .case_3 .dropzone,
#act_herramientas .cases_droppables_board .case_4 .dropzone {
    top: auto;
    bottom: -60px;
}

#act_herramientas .cases_draggables_board {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.jpit-activities-droppable .cases_draggables_board .draggable {
    width: 150px;
    margin: 0 1px 5px;
    color: #354451;
    background-color: #E5F2F4;
    border: solid 2px #71AED7;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jpit-activities-droppable .cases_droppables_board .dropzone.droppable.correct,
.jpit-activities-droppable .cases_draggables_board .draggable.correct,
.jpit-activities-droppable .cases_droppables_board .jpit_activities_jpitdroppable_dropped.draggable.correct {
    border-color: #7bb004;
}
.jpit-activities-droppable .cases_droppables_board .dropzone.droppable.wrong,
.jpit-activities-droppable .cases_draggables_board .draggable.wrong,
.jpit-activities-droppable .cases_droppables_board .jpit_activities_jpitdroppable_dropped.draggable.wrong {
    border-color: #D60C1B;
}
.jpit-activities-droppable .cases_droppables_board .jpit_activities_jpitdroppable_dropped {
    background-color: #E5F2F4;
    border: solid 2px #71AED7;
    border-radius: 5px;
    color: #354451;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.align1 .content_wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
}
